# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# API keys / Secrets
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Mac OS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Project specific
static/backup_v1/
launch.py
